<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>TrackIT</h1>
  <h4>
    TrackIT is a free and open source issue tracker for software development teams.
  </h4>
  <%= link_to 'Sign up for free!', '#', class: 'btn btn-lg btn-primary' %>
</div>