<% provide(:title, 'Projects') %>
<br />
<h1>Projects Directory</h1>

<% if user_signed_in? %>
  <div>
    <h3>Your Projects</h3>
    <% if current_user.projects.any? %>
      <% current_user.projects.each do |project| %>
        <p><%= link_to project.name, project %></p>
      <% end %>
    <% else %>
      <p>You haven't joined any projects yet.</p>
    <% end %>
  </div>
<% else %>
  <div>
    <h3>Your Projects</h3>
    <p><%= link_to 'Log in', new_user_session_path %> to view your projects.</p>
  </div>
<% end %>

<br />
<hr />
<br />

<div>
  <h3>All Projects</h3>
  <% @projects.each do |project| %>
    <p><%= link_to project.name, project %></p>
  <% end %>
  <%= link_to 'Create Project', { :action => 'new' }, method: :get, class: 'btn btn-primary' %>
</div>
